<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}LMMS Community Bank{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Collection of presets and samples made by community composers.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="LMMS Community Bank">
    <meta property="og:description" content="Collection of presets and samples made by community composers.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://lcb.webly3d.net/static/images/facebook_banner.jpg">
    <meta property="og:url" content="http://lcb.webly3d.net">

    <link rel="shortcut icon" type="image/png" href="/static/images/logo.png">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75617272-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-75617272-3');
    </script>

    <script>
        function hideLoader() {
            document.getElementsByClassName('preload')[0].classList.remove('preload');
            document.getElementById('loader').classList.add('loading_hidden');
        }
    </script>

    <style>
        #loader {
            position: fixed;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            background: white;
            z-index: 10000;
            overflow: hidden;
        }

        #loader img {
            margin: auto;
            transition: transform 0.2s cubic-bezier(.54,-0.72,.58,1);
        }
    </style>
</head>
<body class="preload" onload="hideLoader()">
    <div id="loader" class="loading_hidden">
        <img src="/static/images/hex-loader.gif" alt="Loading...">
    </div>
    <script>document.getElementById('loader').classList.remove('loading_hidden')</script>
    {% include "partials/header.html" %}
    <div class="wrapper">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
