@import 'variables'
@import 'global-header'
@import 'footer'

body
  background: #f6f6f6
  margin: 0
  padding-top: 60px

.specify
  position: relative
  max-width: 1200px
  margin: auto
  padding: 0 10px

#particles-js
  margin: 0
  height: 350px
  width: 100%
  position: relative
  background: $background2

  h2
    position: relative
    color: white
    font-family: $font1
    font-weight: bold
    margin: 0
    height: 0
    left: 60px
    text-shadow: 2px 2px 2px #444
    top: 80px
    font-size: 42px
    z-index: 1
    max-width: 650px

  h3
    @extend h2
    font-size: 22px
    top: 210px
    max-width: 705px

  .image
    display: block
    position: absolute
    right: 70px
    height: 210px
    top: 70px
    border-radius: 10px
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
    z-index: 1

.notification
  text-align: center
  background: #5f77cc
  margin: 0
  padding: 16px 0
  font-family: $font1
  font-size: 18px
  color: white
  font-weight: bold
  box-shadow: 0 0 6px rgba(0,0,0,0.3)
  position: sticky
  top: 60px
  z-index: 10

  .link
    color: #FFEF00
    &:hover
      color: #FFEF00

.about
  background: #f6f6f6

  .specify
    display: flex
    max-width: 1100px
    flex-wrap: wrap

.discord
  background: #202225

  .specify
    max-width: 1100px

  .discord-info
    display: inline-block
    vertical-align: top
    width: calc(100% - 390px)
    margin: 10px

    p
      font-size: 18px
      color: #e6e6e6
      margin-right: 30px

  .discord-widget
    //border: solid 2px #7289da
    box-shadow: 0 0 0 2px #7289da
    border-radius: 10px
    width: 350px
    height: 400px
    margin: 10px
    border: 0

  h1
    color: #f6f6f6
    margin-bottom: 32px

  h2
    color: #aaa
    text-transform: uppercase

main
  font-family: $font1
  padding: 40px 0

  .image-parent
    position: relative
    display: inline-block
    padding: 15px 20px 25px 20px
    background: #00af50
    border-radius: 100%
    box-shadow: 0 0 4px silver
    vertical-align: middle

    img
      position: relative
      display: block
      width: 67px
      filter: invert(1)
      -webkit-filter: invert(1)

  .tile
    display: inline-block
    text-align: center
    padding: 30px 20px
    width: calc(25% - 60px)
    vertical-align: top
    background: white
    box-shadow: 0 0 5px silver
    border-radius: 8px
    margin: 10px

    .container
      display: inline-block
      //background: $background2
      width: 110px
      //border-radius: 50%
      padding: 7px 20px 20px
      box-sizing: border-box

      img
        width: 100%
        filter: contrast(0%) sepia(100%) hue-rotate(65deg) contrast(250%) brightness(70%)
        -webkit-filter: contrast(0%) sepia(100%) hue-rotate(65deg) contrast(250%) brightness(70%)

    p
      margin: 5px 7px

  h1
    margin-top: 0
    font-size: 25px
    color: #555

  h2
    text-transform: uppercase
    font-size: 15px
    letter-spacing: 1px
    margin-bottom: 0

  h3
    font-size: 23px
    font-weight: bold
    color: $color1
    text-align: center
    margin: 100px 0

  p
    margin-top: 4px
    color: $color1
    font-size: 16px
    display: inline-block
    vertical-align: middle

    span
      position: relative
      top: 7px
      font-weight: bold

    a
      color: $color5

  .category
    display: inline-block
    text-align: center
    width: calc(25% - 40px)
    vertical-align: top
    margin: 15px 20px
    background: #153e62
    color: white
    font-weight: bold
    font-size: 17px
    padding: 10px
    box-sizing: border-box
    border-radius: 4px
    text-decoration: none
    transition: 20ms ease-in-out

    &:hover
      opacity: 0.8

    img
      width: 23px
      vertical-align: top
      margin-right: 4px

.sources
  a
    display: inline-block
    margin: 0 20px

.python
  display: inline-block
  height: 80px
  vertical-align: middle
  transition: ease-in-out 50ms

  &:hover
    transform: scale(1.03)
    filter: contrast(1.2)
    -webkit-filter: contrast(1.2)

.github
  background: $background2
  display: inline-block
  margin: 30px 45px 50px
  color: white
  padding: 15px 30px
  text-decoration: none
  font-size: 19px
  font-weight: bold
  border-radius: 8px
  transition: ease-in-out 50ms

  &:hover
    transform: scale(1.03)
    box-shadow: 0 0 10px silver

.discord-button
  position: relative
  display: inline-block
  margin-top: 25px

  img
    height: 47px
    transition: all ease-in-out 40ms
    display: block
    border-radius: 50px

    &:hover
      transform: scale(1.03)
      box-shadow: 0 0 5px #5a5a5a

.banner
  form
    position: absolute
    width: calc(100% - 20px)
    top: 210px
    display: none

    input
      position: relative
      background: $color3
      font-family: $font1
      color: $color1
      font-size: 15px
      padding: 2px 8px
      width: 200px
      border: 0
      line-height: 20px
      outline: none
      margin: auto
      display: block
      border-radius: 15px

      &::placeholder
        color: $color1

      &:focus
        color: $color2

        &::placeholder
          color: $color2

    .submit
      display: none

.particles-js-canvas-el
  position: absolute
  top: 0

@media (max-width: 1100px)
  .banner
    .image
      display: none !important
    .slogan, h3
      margin: auto !important
      left: 0 !important
      text-align: center !important

  .discord-info
    width: calc(100% - 420px) !important
    padding: 0 20px !important
    margin: 10px 0 !important

  main
    padding: 20px 0

  main .tile, .category
    width: calc(50% - 60px) !important
    padding-bottom: 10px

  .github
    margin-top: 30px

  .discord-info
    width: calc(100% - 450px)
    margin: 10px 30px

@media (max-width: 800px)
  .banner
    height: 300px !important

    .slogan
      font-size: 33px !important
    h3
      font-size: 15px !important
      top: 180px !important
      max-width: 370px !important

  .discord-info
    width: calc(100% - 60px) !important
    margin: 10px 0 !important
    padding: 0 30px

    p
      margin-right: 0 !important

  .discord-widget
    width: calc(100% - 40px) !important
    margin: 30px 20px !important

@media (max-width: 620px)
  main .tile, .category
    width: 100% !important

  .banner
    height: auto !important

    .slogan
      font-size: 26px !important
      height: auto !important
      display: block !important
      top: auto !important
      padding: 30px 0 !important
    h3
      font-size: 17px !important
      height: auto !important
      top: auto !important
      padding-bottom: 30px !important

  .separator
    margin-top: auto !important

@media (max-width: 450px)
  .global-header
    .right-side
      display: none